.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 80% !important;
}

span.input-group-addon {
  width: 50px !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.car-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.car-form .form-control, .car-form .form-select {
  flex: 1 0 auto;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.car-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.car-form button:hover {
  background-color: #45a049;
}

.navbar-text-container {
  display: flex;
  align-items: center;
}

.navbar-username {
  margin-right: 10px;
  margin-top: 35px;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}